.App {
  display: grid;
  grid-template-areas: "cart-total summary"
                        "items summary";
}

.items-and-cart-total {
  padding-left: 2em;
  height: 100vh;
  width: 60vw;
}

.cartTotal {
  grid-area: cart-total;
  padding-top: 2em;
  padding-bottom: 2em;
}

.items {
  grid-area: items;
}

.itemChunk {
  display: flex;
  flex-direction: row;
}

.itemImg > img {
  height: 50px;
  width: 50px;
}

.itemQuantity {
  padding-left: 2em;
}

.itemPrice {
  padding-left: 2em;
}

.quantityBtn {
  padding-left: 2em;
}

.itemTotal {
  padding-left: 10em;
}



.summary {
  background-color: gainsboro;
  grid-area: summary;
  height: 100vh;
  width: 40vw;
  text-align: center;
}

.summaryTotals {
  padding-left: 3em;
  padding-top: 2em;
  text-align: left;
}

hr {

}