.App {
  display: grid;
  grid-template-areas: "cart-total summary"
                        "items summary";
  /* flex-direction: column; */
}

.items-and-cart-total {
  /* display: flex; */
  /* flex-direction: column; */
  border: 1px solid black;
  padding-left: 2em;
}

.cartTotal {
  /* display: flex; */
  /* flex-direction: column; */
  grid-area: cart-total;
}

.items {
  grid-area: items;
  /* padding-left: 2em; */
}

.itemChunk {
  display: flex;
  flex-direction: row;
  /* padding: 2em; */
}

.itemImg > img {
  height: 50px;
  width: 50px;
}

.itemQuantity {
  padding-left: 2em;
}

.itemPrice {
  padding-left: 2em;
}

.incButtons {
  padding-left: 2em;
}

.itemTotal {
  padding-left: 10em;
}



.summary {
  background-color: gainsboro;
  /* display: flex; */
  /* flex-direction: column; */
  grid-area: summary;
  border: 1px solid yellow;
  padding-left: 2em;
}
